body{
width:600px;
margin: auto;
background-color: lightgreen;
}
.header
{
  width: 400px;
  background-color: green;
}
.content{
  width:400px;
  background-color: yellow;
  float: left;
  height: 400px;
  text-shadow: 10px -1px 10px red;
}
.links{
  width:200px;
  background-color: pink;
  float:left;
  height: 400px;

  text-decoration: none;
}
.footer{
  padding-bottom: 0px;
  position: absolute;
bottom:0;


  text-align:center;
  font-family: sans-serif;
}
div{
  width: 500px;
  background-color: rgb(00,100,100);
}
